<ng-container *ngIf="loading; else quizContent">
  <div class="skeleton" style="height:2em"></div>
  <div class="skeleton" style="height:2em"></div>
  <div class="skeleton" style="height:1em"></div>
  <app-option-item-skeleton></app-option-item-skeleton>
</ng-container>
<ng-template #quizContent>
  <h2>{{ data?.meta }}</h2>
  <ng-container *ngIf="!end">
    <h3>{{ data?.questions[current - 1]?.question }}</h3>
    <p>Question {{ current }} / {{ total }}</p>
    <app-option-list
      [options]="data?.questions[current - 1]?.options"
      (select)="onOptionSelect($event)"
    ></app-option-list>
  </ng-container>
  <p *ngIf="end">Quiz ended! You got {{ score }} out of {{ total }} correct.</p>
</ng-template>
