.option-item{
    display: flex;
    border: solid thin black;
}
.index-marker{
    background-color: black;
    color: white;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    text-align: center;
}
.option-label{
  color: #333;
}
.option-icon{
    
}