<li [ngClass]="classNames">
  <div class="left">
    <span class="index-marker">{{ index }}</span>
    <p class="option-label">{{ item?.label }}</p>
  </div>
  <!-- Only show icon if reveal is true -->
  <ng-container *ngIf="reveal && (item?.selected || item?.disabled) && (item?.correct || item?.wrong || item?.correct === false)">
    <div class="option-icon">
      <ng-container *ngIf="item?.correct; else wrongIcon">
        <span class="icon-check"></span>
      </ng-container>
      <ng-template #wrongIcon>
        <span class="icon-close"></span>
      </ng-template>
    </div>
  </ng-container>
</li>
