// Import ng-zorro less (no tilde needed)
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';
@import (css) url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Customize your theme

// colors 
@primary-color: #177b1c;
@primary-color-hover: #3ea832;
@primary-color-active: #215a10;
@primary-color-outline: #297b1733;



// fonts
@font-family: 'Roboto', sans-serif;
@font-size-base: 14px;