// Import ng-zorro less (no tilde needed)
@import 'ng-zorro-antd/ng-zorro-antd.less';
@import (css) url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Customize your theme

// colors 
@primary-color: #7b1734;
@primary-color-hover: #a8324a;
@primary-color-active: #5a1026;
@primary-color-outline: #7b173433;

// fonts
@font-family: 'Roboto', sans-serif;
@font-size-base: 14px;